@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* primary */
    --Orange: hsl(25, 97%, 53%);
    
    /* neutral */
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
    --desaturated-blue: hsla(216, 12%, 54%, 0.18);

    --f-size: 15px

}

body {
    background-color: var(--Very-Dark-Blue);
    font-family: 'Overpass';
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.star-icon img {
    background-color: hsla(216, 12%, 54%, 0.18);
    padding: .75em;
    border-radius: 2em;
}

.rating-card {
    background-color: var(--Dark-Blue);
    border-radius: 1em;
    padding: 1.5em;
    color: var(--White);
    position: relative;
    /* display: none; */
}

.title {
    padding-block: .75em;
}

.descriptions {
    padding-bottom: 1.5em;
    color: var(--Medium-Grey);
    line-height: 1.5rem;
}

.rating {
    display: flex;
    padding-block: 1em;
    text-align: center;
    gap: 1.5em;
    cursor: pointer;
}

.rating button {
    font-family: inherit;
    color: var(--White);
    background-color: hsla(216, 12%, 54%, 0.18);
    padding: 1em .75em 1em .75em;
    width: 13.5%;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    transition: 300ms ease-in-out;
}

.rating button:hover {
    background-color: var(--Light-Grey);
}

.rating-card button:focus-within {
    background-color: var(--Orange);
}

.submit-button {
    padding-top: 1.5rem;
    text-align: center;
}

.submit-button button {
    color: var(--White);
    background-color: var(--Orange);
    border: none;
    font-family: inherit;
    text-transform: uppercase;
    padding-block: 1em;
    padding-inline: 10em;
    border-radius: 2em;
    font-weight: 700;
    letter-spacing: .15rem;
    outline: none;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.submit-button button:hover {
    color: var(--Orange);
    background-color: var(--White);
}

.thank-you-card {
    display: block;
    text-align: center;
    padding: 2em;
    background-color: var(--Dark-Blue);
    border-radius: 1em;
    padding-inline: 2.75em;
    display: none;
}

.rating-result {
    padding-block: 2em;
}

.rating-result span {
    background-color: var(--desaturated-blue);
    color: var(--Orange);
    padding: .35em .75em;
    border-radius: 2em;
}

.thank-you-title {
    font-size: 2em;
    font-weight: 700;
    color: var(--White);
    padding-bottom: .55em;
}

.appreciation {
    font-size: var(--f-size);
    color: var(--Medium-Grey);
}

.thank-you-card .active {
    display: block;
}